body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-image: url(../../public/images&videos/sao-1.png);
    background-size: cover;
    background-attachment: fixed;
}
nav span{
    position:absolute;
    top:17%;
    width:5em;
    left: 18.3em;
    height:66%;
    background: linear-gradient(45deg, #192e4f,#33adff);
    border-radius: 10px;
    transition: 0.5s;
}

/* Main */
main {
    margin-bottom: -15vw;
}

#top-container {
    position: relative;
    text-align: center;
}

#top-container img {
    width: 96vw;
    position: relative;
    left: 48%;
    top: 8vw;
    transform: translate(-50%);
}

h1, p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.65vw;
    font-weight: 400;
}

#top-container h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: insideout;
    font-size: 14vw;
    width: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, white, #B1CFF2 0%, #FCFDFF 100%);
    -webkit-background-clip: text; 
    animation: fadeColor 6s forwards;}

@keyframes fadeColor {
    0% { color: white; }
    25% { color: white; }
    50% { color: #B1CFF2; }
    75% { color: #5A95DB; }
    100% { color: linear-gradient(90deg, #B1CFF2 0%, #5A95DB 41.17%, #FCFDFF 100%);
    }
}

#members {
    position: relative;
    left: 11vw;
    width: 80vw;
    top: 14vw;
}

#members p {
    margin-bottom: 0;
    margin-top: 0.5vw;
    line-height: 2.75vw;
}

#anxiety {
    position: relative;
    left: 61vw;
    top: -18vw;
    width: 35vw;
}

#anxiety img {
    width: 35vw;
}

#bottom-container {
    position: relative;
    width: 76vw;
    left: 50%;
    transform: translate(-50%);
    top: -17vw;
    line-height: 2.65vw;
}

@font-face {
    font-family: insideout;
    src: url(../font/InsideOut4.otf);
}

/* Footer */
footer{
    padding-top:5vw;
    background-color: transparent;
    height:36vw;

}
#footer-container{
    margin:1vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vw 3vw 3vw 5vw;
    place-items:center;
    border:1px solid white;
    width:96vw;
}
footer img{
    padding:4vw;
    width:30vw;
}
#icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon i {
    margin-left: 2vw;
    width: 3vw;
    height: 3vw;
    font-size:1.3vw;
    color: white;
    cursor: pointer;
    background-color: #242633;
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color:white;
    display:inline;
    text-decoration: none;
    font-size:1.3vw;
    padding-left:2vw;
}
hr{
    width:80vw;
}
#footer-container p{
    color:white;
    font-size:1vw;
}

/* Smartphone */
@media screen and (max-width:767px){
    li a{
        font-size:13px;
    }
    button{
        height:25px;
        width:65px;
    }
    button a{
        font-size:10px;
    }
    #logo-container{
        left:0;
        transform: translate(0,-50%);

    }
    #logo{
        width:4em;
    }
    #log-sign{
        right:-1rem;
    }
    header{
        height:60px;
    }
}
/* Tablet */
@media screen and (max-width:1070px) {
    #check:checked~ul {
        left: 0;
    }
    .checkbtn {
        display: block;
    }
    #menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        display:block;
        background-color: #222222;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav span{
        position:absolute;
        top:255px;
        left:0;
        width:100%;
        height:70px;       
        border-radius: 0;
        background: linear-gradient(45deg, #3466ff43,#6ac4fc43);
    }
    #menu li:first-child a:hover,
    #menu li:nth-child(2) a:hover,
    #menu li:nth-child(3) a:hover,
    #menu li:nth-child(5) a:hover {
        color:#66C2EF;
    }
    #menu li:first-child:hover~span,
    #menu li:nth-child(2):hover~span,
    #menu li:nth-child(3):hover~span,
    #menu li:nth-child(5):hover~span {
        top:255px;
        left:0;
    }
    #menu li:nth-child(4):hover~span {
        width:100%;
        left: 0;
        top:255px;
    }
    #logo{
        width:6em;
    }
    #log-sign{
        right:0.5vw;
    }
}
/* Desktop */
@media screen and (min-width:1024px){
    header{
        max-height:80px;
    }
} 