*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family:Roboto;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/Roboto-Regular.ttf);
}
body{
    background-image: url(../images&videos/log-sign.jpg);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: Roboto;
}
section{
    display:grid;
    grid-template-columns: 1fr;
    position: relative;
    width: 80vw;
    max-width: 500px; /* Add a max-width for larger screens */
    height: auto; /* Change height to auto for responsiveness */
    background-color: #222222;
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgb(17, 17, 26) 0px 8px 24px, rgb(17, 17, 26) 0px 16px 48px;
}
h1{
    font-size: 2rem;
    color: #33adff;
}
.inputbox{
    position: relative;
    color:white;
    font-size:1.2rem;
    top:25%;
    left:0;
    width:100%;
    margin-top:1rem;
}

input{
    display: grid;
    width: 100%;
    max-width: 395px; 
    height: 2rem;
    font-size: 1.2rem;
    outline: none;
    margin-bottom:1rem;
    margin-top:1rem;
    border-radius:6px;
}
input:focus{
    box-shadow: #33adff 0px 1.5px 3px, #33adff 0px 1.5px 3px;
}
.fa-regular{
    position:absolute;
    top:62%;
    color:black;
    right:20px;
    z-index:1;
    cursor: pointer;
}
#submitBtn{
    outline:none;
    border:none;
    font-size: 1rem;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #33adff;
    color:white;
    cursor: pointer;
    margin-left:38%;
}
#submitBtn:hover{
    background-color: #13a0ff;
}
.error-message{
    color:rgb(255, 37, 37);
    font-size:12px;
    height:6px;
    margin-left: 0;
}
#confirmpassword-error{
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    section {
        width: 90vw;
        padding: 15px;
    }
    h1 {
        font-size: 2rem;
    }
    input {
        height: 2.5rem;
        font-size: 1rem;
    }
    #submit {
        font-size: 0.9rem;
        width: 6rem;
        height: 2rem;
    }
}

@media (max-width: 480px) {
    section {
        width: 95vw;
        padding: 10px;
    }
    h1 {
        font-size: 1.8rem;
    }
    input {
        height: 2rem;
        font-size: 0.9rem;
    }
    #submit {
        font-size: 0.8rem;
        width: 5rem;
        height: 1.8rem;
    }
}