
@font-face{
    font-family:insideout;
    src:url(/IS207.O21-DoAnNhom2/public/font/InsideOut4.otf);
}
@font-face{
    font-family:disney1;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/Disney.ttf);
}
@font-face{
    font-family:pixar;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/Pixar.ttf);
}
@font-face{
    font-family: imprintmtshadow;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/imprintmtshadow.ttf);

}
@font-face{
    font-family: bookos;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/BOOKOS.TTF);
}
@font-face{
    font-family:Roboto;
    src:url(/IS207.O21-DoAnNhom2/public/font/Home/Roboto-Regular.ttf);
}
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
nav{
    font-family:Roboto;
}
nav span{
    position:absolute;
    top:17%;
    left:0.5em;
    width:4.7em;
    height:66%;
    background: linear-gradient(45deg, #192e4f,#33adff);
    border-radius: 10px;
    transition: 0.5s;
}

/* banner */
#banner{
    position: relative;
    top:0;
    background-image: url("../images&videos/Home/Banner-welcome.png");
    background-size: cover;
    width:100%;
    height:100vh;
}
#banner div{
    text-align:center;
    position:absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
}
#banner h2{
    margin:0;
    top: 5rem;
    font-size:3vw;
    color:white;
    font-family: insideout;
    font-weight:normal;
}

#banner h1{
    margin:2vw 0 0 0;
    font-size:18vw;
    color:white;
    font-family: insideout;
    font-weight:normal;
    display:block;
    position:relative;
}
h1:before {
    content: attr(data-text);
    position: absolute;
    text-align:center;
    width: 0%;
    height: 20vw;
    white-space: nowrap;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    background-image: linear-gradient(to right, #FF420C, #E3802D, #F2C130, #5FAD44,
                                        #34CEBA, #66C2EF, #6960C8, #B379CD, #EB7CC5 );
    -webkit-text-stroke: 1px #d9a87e;
    border-right: 2px solid #ffffbc;
    animation: move 5s infinite alternate ease-in-out;
}
@keyframes move {
    0% {
        width: 0%;
    }

    100% {
        width: 68vw;
    }
}
#text-banner h3 {
    font-size: 4vw;
    margin: 1rem 0 0 0;
    display: inline-block;
    color: white;
    font-family: disney1 !important;
    font-weight: normal;
}

/* short about inside out */
#short-about{
    text-align: center;
    position:relative;
    display:grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 36vw;
    background-color: black;
}
#short-about h3{
    font-size: 3.5vw;
    margin: 6vw 0 0 0;
    display: inline-block;
    color: #EE9D64;
    font-family: insideout !important;
    font-weight: normal;
}
#short-about p{
    width:40vw;
    margin:0.5vw 2vw 0 6vw;
    text-align:left;
    font-size: 2.3vw;
    display: inline-block;
    color: white;
    font-family: Roboto;
    font-weight: normal;
}
#short-about img{
    position: relative;
    right:0;
    width:80%;
    top:7vw;

}


/* short gif */
#short-gif{
    position:relative;
    display:grid;
    background-color: black;
}
#short-gif h3{
    text-align:center;
    font-size:4vw;
    font-family:insideout;
    font-weight:normal;
    color:white;
}
#short-gif h3:first-child{
     background: linear-gradient(to right, #F0B928 0%, #F0B928 30%), 
                linear-gradient(to right, #5288E8 30%, #5288E8 40%), 
                linear-gradient(to right, #DC3F10 40%, #DC3F10 50%),
                linear-gradient(to right, #7ABC54 50%, #7ABC54 100%);
    background-size: 41% 100%, 11% 100%, 15% 100%, 50% 100%; 
    background-repeat: no-repeat;
    background-position: 0 40%, 40% 50%, 50% 80%, 80% 100%; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom:0;
}
#short-gif h3:nth-child(2){
     background: linear-gradient(to right, #925BB6 0%, #925BB6 30%), 
                linear-gradient(to right,#E68C35 30%, #E68C35 40%), 
                linear-gradient(to right, #2CC2B0 40%, #2CC2B0 50%),
                linear-gradient(to right, #DF5AAD 40%, #DF5AAD 50%),
                linear-gradient(to right, #867DD8 50%, #867DD8 100%);
    background-size: 45% 100%, 22% 100%, 18% 100%, 50% 100%, 61% 100%; 
    background-repeat: no-repeat;
    background-position: 0 40%, 40% 50%, 54% 80%, 28% 100%, 28% 100%; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top:0;
}

/* 9 manh ghep cam xuc */
#char-container{
    background-color: #1C0C0B;
    background-image: url(/IS207.O21-DoAnNhom2/public/images&videos/Home/bg-emotions.png);
    background-size: cover;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vw 50vw 58vw;
} 

.card {
    top:8rem;
    left:4vw;
    width: 20vw;
    height: 30vw;
    aspect-ratio: 1/0.7;
    /* try to keep scale 1:0,7 */
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display:inline-block;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0*/
    border: 2px solid black;
    opacity: 1;
    transition: 0.4s ease-in-out;

}

.card:hover .image-box {
    filter: brightness(0.6);
}

.card:hover::after {
    opacity: 1;
    inset: 1.2vw;
    border:2px solid white;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
}
.content p{
    font-size:1.2vw;
    font-family: Roboto;
}
.card:hover .content {
    opacity: 1;
    z-index:2;
}

/* Movie 2 coming soon */
#short-video{
    position:relative;
    display:grid;
    place-items: center;
    background-color: black;
    width:100%;
}
#short-video h2{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #FF420C, #E3802D, #F2C130, #5FAD44,
                                        #34CEBA, #66C2EF, #6960C8, #B379CD, #EB7CC5 );
    font-size:5vw;
    font-family: insideout;
    text-align:center;
    margin:5vw 0 0 0;
    font-weight: normal;

}
#short-video h3{
    font-size:3vw;
    color: #EE9D64;
    text-align:center;
    font-family: insideout;
    font-weight: normal;
    margin:3vw 0 0 0 ;
    display:block;
}
#video-container{
    background-image: url(/IS207.O21-DoAnNhom2/public/images&videos/Home/bg-sneakpeek.png);
    background-size: cover; 
    width:100%;
    display:flex;
    justify-content: center;
    height:50vw;
}
#short-video video{
    width:80%;
    margin-top:0;
    height:100%;
}


/* Movie 2015 */
#movie-available{
    background-image: linear-gradient(to bottom,#000000, #0A0810,#0D0A15,
                                         #1D162D, #1A1428, #30244A);
    display:grid;
    place-items: center;
    grid-template-columns: 100%;
    background-color: #1C0C0B;
    height:100%;
}
#movie-available h3{
    font-size:3vw;
    color: #ECBF77;
    text-align:center;
    font-family: insideout;
    font-weight: normal;
    margin:0;
}  
#movie-available img{
    box-shadow: 0 0 2vw 0.5vw white;
    border-radius: 1vw;
    margin:5vw 0 0 0;
    width:35vw;
}

#watch-btn{
    width:15vw;
    height:3.5vw;
    background-color: transparent;
    border:1px solid white;
    font-size:1.5vw;
    color: white;
    font-family:Roboto;
    cursor: pointer;
    margin-top:4vw;
    border-radius:0.5vw;
}
#watch-btn:hover{
    background-color:rgba(217, 217, 217, 0.2);
}


/* Cac giai thuong */
#award h2{
    font-size:6vw;
    color:#EE9D64;
    margin:10vw 0 0 0;
    font-family: imprintmtshadow;
    font-weight: normal;
    text-align:center;

}
#award h4{
    font-family: imprintmtshadow;
    font-size:1.5vw;
    color:#EE9D64;
    font-weight: normal;
    margin:0;
    text-align:center;
}
#award p{
    margin-top:4vw;
    color:white;
    text-align: center;
    font-size:1.2vw;
    font-family: bookos;
}

/* Footer */
footer{
    padding-top:5vw;
    background-color: #30244A;
    height:36vw;

}
#footer-container{
    margin:1vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vw 3vw 3vw 5vw;
    place-items:center;
    border:1px solid white;
    width:95vw;
    font-family: Roboto;
}
footer img{
    padding:4vw;
    width:30vw;
}
#icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon i {
    margin-left: 2vw;
    width: 3vw;
    height: 3vw;
    font-size:1.3vw;
    color: white;
    cursor: pointer;
    background-color: #242633;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color:white;
    display:inline;
    text-decoration: none;
    font-size:1.3vw;
    padding-left:2vw;
}
hr{
    width:80vw;
}
#footer-container p{
    color:white;
    font-size:1vw;
}

/* Smartphone */
@media screen and (max-width:767px){
    li a{
        font-size:13px;
    }
    button{
        height:25px;
        width:65px;
    }
    button a{
        font-size:10px;
    }
    #logo-container{
        left:0;
        transform: translate(0,-50%);

    }
    #logo{
        width:4em;
    }
    header{
        height:60px;
    }
    #text-banner{
	margin-top:-20%;
    }

    /* short-about */
    #short-about {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #short-about div {
        grid-row: auto;
    }
    #short-about h3 {
        font-size:11vw;
    }

    #short-about p {
        width: 80%;
        margin: 2vw auto;
        text-align: center;
	font-size:5vw;
    }

    #short-about img {
        width: 100%;
        max-width: 600px; 
        top: 0;
        right: auto;
    }
    #short-video h2{
	font-size:10vw;
    }
    #short-video h3{
	font-size:6vw;
    }
    #movie-available h3{
	font-size:6vw;
    }
    #movie-available img{
	width:60vw;
    }
    #watch-btn{
	font-size:4vw;
	width:30vw;
	height:6vw;
    }
    #award h2{
	font-size:11vw;
    }
    #award h4{
	font-size:5vw;
    }
    #award p{
	font-size:3vw;
    }
}
/* Tablet */
@media screen and (max-width:1070px) {
    #check:checked~ul {
        left: 0;
    }
    .checkbtn {
        display: block;
    }
    #menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        display:block;
        background-color: #222222;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav span{
        position:absolute;
        top:25px;
        left:0;
        width:100%;
        height:70px;       
        border-radius: 0;
        background: linear-gradient(45deg, #3466ff43,#6ac4fc43);
    }
    #menu li:nth-child(5) a:hover,
    #menu li:nth-child(2) a:hover,
    #menu li:nth-child(3) a:hover,
    #menu li:nth-child(4) a:hover {
        color:#66C2EF;
    }
    #menu li:nth-child(5):hover~span,
    #menu li:nth-child(2):hover~span,
    #menu li:nth-child(3):hover~span,
    #menu li:nth-child(4):hover~span {
        top:25px;
        left:0;
    }
    #menu li:first-child~span {
        width:100%;
        left: 0;
        top:25px;
    }
    #logo-container{
        left:0;
        transform: translate(0,-50%);
    }
    #logo{
        width:6em;
    }
    #banner{
        background-image: url("../images&videos/Home/banner-mobile.jpg");
    } 
    #text-banner h2{
	font-size:5vw;
    }
    #text-banner h3{
	font-size:5vw;
    }
    #text-banner h1{
	font-size:20vw;
    }
    .card {
        top:3.5rem;
    }

    #log-sign {
        right: 0.5vw;
    }


}
