body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-image: url(../../public/images&videos/sao-1.png);
    background-size: cover;
    background-attachment: fixed;
}
nav span{
    position:absolute;
    top:17%;
    width:4.5em;
    left: 6.5em;
    height:66%;
    background: linear-gradient(45deg, #192e4f,#33adff);
    border-radius: 10px;
    transition: 0.5s;
}

/* Main */
main {
    color: white;
    margin-bottom: -15vw;
}

#banner {
    position: relative;
    bottom: 3vw;
    width: 98.7vw;
    height: 50vw;
}

#poster {
    position: relative;
    left: 5vw;
    height: 30vw;
    width: 20.7vw;
    bottom: 44vw;
}

#tags {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 4vw;
    width: 32vw;
    left: 35vw;
    bottom: 53vw;
    font-weight: 700;
    font-size: 1.7vw;
    column-gap: 3.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tag {
    border: 1px solid white;
    border-radius: 0.9vw;
    width: 9.5vw;
    height: 2.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#comming-soon {
    background-color: red;
    font-weight: 800;
    font-size: 1.4vw;
    text-align: center;
    position: relative;
    left: 5vw;
    bottom: 57.5vw;
    width: 21vw;
    border: 0.05vw solid white;
    font-family: inknutantiqua;
    height: 4.1vw;
    border-radius: 0.52vw;
    color: white;
    cursor: pointer;
}

#duration {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    left: 37vw;
    width: 12vw;
    bottom: 57vw;
    font-weight: 700;
    font-size: 1.7vw;
    column-gap: 1.5vw;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.duration-content {
    width: 10vw;
}

svg{
    width: 4vw;
    height: 4vw;
}

@font-face {
    font-family: inknutantiqua;
    src: url(../font/Watch/InknutAntiqua-Regular.ttf);
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    left: 5vw;
    bottom: 48vw;
    width: 28vw;
    row-gap: 1.7vw;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7vw;
}

#description {
    font-size: 2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 2.9vw;
    width: 88.3vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 14.5vw;
    bottom: 44vw;
}

#cast, #trailer {
    font-family: insideout;
    font-weight: 400;
    font-size: 2.76vw;
}

@font-face {
    font-family: insideout;
    src: url(../font/InsideOut4.otf);
}

#cast {
    position: relative;
    left: 5vw;
    bottom: 40vw;
    width: 40vw;
}

#casts-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    width: 93.15vw;
    left: 5vw;
    bottom: 40vw;
}

#casts-info div img{
    width: 17.28vw;
}

#casts-info div {
    display: inline-flex;
    flex-direction: column;
}

#casts-info div{
    text-align: center;
}

.name-actor {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    position: relative;
    top: 4vw;
}

.name-voice {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.72vw;
    font-weight: 400;
    position: relative;
    top: 2vw;
}

#Adèle-Exarchopoulos {
    position: relative;
    right: 1.3vw;
    width: 19.7vw;
}

#trailer {
    position: relative;
    bottom: 33vw;
    left: 5vw;
    width: 40vw;
}

#trailers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.8vw;
    position: relative;
    bottom: 33vw;
    width: 97vw;
}

#trailer-link {
    width: 31vw;
    margin-bottom: -10vw;
    cursor: pointer;
}

#trailer-link:hover {
    transform:scale(0.9);
}

/* Footer */
footer{
    padding-top:5vw;
    background-color: transparent;
    height:36vw;
}
#footer-container{
    margin:1vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vw 3vw 3vw 5vw;
    place-items:center;
    border:1px solid white;
    width:96vw;
}
footer img{
    padding:4vw;
    width:30vw;
}
#icon {
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon i {
    margin-left: 2vw;
    width: 3vw;
    height: 3vw;
    font-size:1.3vw;
    color: white;
    cursor: pointer;
    background-color: #242633;
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color:white;
    display:inline;
    text-decoration: none;
    font-size:1.3vw;
    padding-left:2vw;
}
hr{
    width:80vw;
}
#footer-container p{
    color:white;
    font-size:1vw;
}


/* Smartphone */
@media screen and (max-width:767px){
    li a{
        font-size:13px;
    }
    button{
        height:25px;
        width:65px;
    }
    button a{
        font-size:10px;
    }
    #logo-container{
        left:0;
        transform: translate(0,-50%);

    }
    #logo{
        width:4em;
    }
    #log-sign{
        right:-1rem;
    }
    header{
        height:60px;
    }
    #trailer-link {
        width: 30.2vw;
    }
    #trailers {
        width: 95vw;
    }
    #casts-info {
        width: 88vw;
    }
    #banner {
        width: 93vw;
    }
    #comming-soon {
        bottom: 58.5vw;
    }
    #footer-container {
        width: 94vw;
    }
    footer {
        width: 94vw;
    }
    footer {
        width: 94vw;
    }
    #footer-container {
        width: 92vw;
    }
}

/* Tablet */
@media screen and (max-width:1070px) {
    #check:checked~ul {
        left: 0;
    }
    .checkbtn {
        display: block;
    }
    #menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        display:block;
        background-color: #222222;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav span{
        position:absolute;
        top:100px;
        left:0;
        width:100%;
        height:70px;       
        border-radius: 0;
        background: linear-gradient(45deg, #3466ff43,#6ac4fc43);
    }
    #menu li:first-child a:hover,
    #menu li:nth-child(3) a:hover,
    #menu li:nth-child(4) a:hover,
    #menu li:nth-child(5) a:hover {
        color:#66C2EF;
    }
    #menu li:first-child:hover~span,
    #menu li:nth-child(3):hover~span,
    #menu li:nth-child(4):hover~span,
    #menu li:nth-child(5):hover~span {
        top:100px;
        left:0;
    }
    #menu li:nth-child(2):hover~span {
        width:100%;
        left: 0;
        top:100px;
    }
}

@media screen and (min-width: 768px) and (max-width:1070px) {
    
    #cast-info {
        width: 90.15vw;
        left: 4vw;
    }
    #casts-info div img {
        width: 16.28vw;
    }
    .name-actor {
        font-weight: 700;
        font-size: 1.7vw;
    }
    main {
        width: 90vw;
    }
    #poster {
        bottom: 40vw;
    }
    #comming-soon {
        bottom: 54.5vw;
    }
    #trailer-link {
        width: 30.5vw;
    }
    #banner {
        width: 97.7vw;
    }
}

@media screen and (max-width: 320px) {
    #banner {
        width: 93.9vw;
    }
    #trailers {
        width: 94vw;
    }
}

/* Desktop */
@media screen and (min-width:1024px){
    header{
        max-height:80px;
    }
    #banner {
        width: 98vw;
    }
    #poster {
        bottom: 42vw;
    }
    #comming-soon {
        bottom: 55.5vw;
    }
} 